* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* regole generali */


.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}


/* header */

header {
  /* debug */
  height: 100px;
  line-height: 100px;
}

header li {
  padding: 0 8px;
  font-size: 16px;
}

header #logo-header {
  height: 100%;
}

header #logo-header img {
  width: 150px;
  vertical-align: middle;
}

header #nav-header-left {
  text-align: center;
}

header #nav-header-right {
  text-align: right;
}

header .sign-up-button {
  padding: 10px;
  font-weight: 500;
  color: #0069ff;
  border: 0.5px solid #0069ff;
  border-radius: 10px;
}

header .sign-up-button:hover {
  color: white;
  background-color: #0069ff;
}

#header-sm {
  text-align: right;
}

#header-sm i {
  color: #0069ff;
  font-size: 20px;
}

/* main */

main h2, main h4 {
  color: #031c4e;
}

/* sezione jumbo */

#jumbo {
  background-image: url(../img/jumbo.svg);
  background-size: cover;
  background-repeat: repeat;
  padding: 40px 0;
}

#jumbo-left {
  color: white;
}

#jumbo-left h1 {
  margin-bottom: 40px;
}

#jumbo-right {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

#jumbo-right input, .sign-up-google, .create-account {
  width: 100%;
  padding: 10px;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
}

#jumbo-right .sign-up-google img {
  width: 30px;
  vertical-align: middle;
  margin: 0;
}

#jumbo-right .create-account {
  background-color: #0069ff;
  color: white;
}

#jumbo-right > * {
  margin-bottom: 20px;
}

#jumbo-right .blue {
  color: #0069ff;
}

#jumbo-right span a {
  text-decoration: underline;
  color: #0069ff;
}

/* sezione clients */

#clients {
  padding: 40px 0;
  background-color: #f3f5f9;

}

#clients .container > * {
  margin-bottom: 30px;
}

#clients h3 {
  text-transform: uppercase;
  color: #79859f;
  text-align: center;
}

#clients img {
  height: 30%;
  max-width: 90%;
  vertical-align: center;
}

#clients .col-xs-6 {
  text-align: center;
}

#clients span {
  text-align: center;
}

#clients span a {
  color: #0069ff;
  text-align: center;
  font-size: 18px;
}

/* sezione deploy */

#deploy {
  padding: 40px 0;

}

#deploy .container > * {
  margin-bottom: 50px;
}

#deploy .deploy-title {
  text-align: center;
}

#deploy .col-xs-12 h2 {
  margin-bottom: 10px;
}

#deploy p {
  color: #606e8b;
}

#deploy li {
  border-left: 1px solid #7f89a1;
  padding: 10px 0;
}

#deploy li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#deploy li a {
  color: #7f89a1;
  padding: 20px;
}

#deploy .deploy-sections > * {
  margin-bottom: 10px;
}

#deploy .deploy-sections img {
  width: 30px;
}

/* sezione designed */

#designed {
  background-color: #f3f5f9;
}

#designed .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

#designed div {
  text-align: center;
}

#designed .container > div {
  margin-bottom: 20px;
}

#designed h2 {
  margin-bottom: 20px;
}


#designed .col-xs-8 .container {
  position: relative;
}

#designed .angle-left{
  position: absolute;
  top: 40%;
  left: -10%;
}

#designed .angle-right{
  position: absolute;
  top: 40%;
  right: -6%;
}

#designed [class*="fa-angle-"] {
  font-size: 50px;
  color: #031c4e;
}

#designed [class*="fa-angle-"]:hover {
  color: rgba(0, 0, 0, 0.7);
}

#designed img {
  width: 100%
}

#designed .fa-circle {
  color: #006aff;
}

#designed .fa-circle:hover {
  background-color: #006aff;
  border-radius: 100%;
}

/* sezione features */

#features .container {
  padding-top: 30px;
}

#features .container > * {
  margin-bottom: 30px;
}

#features .container h2 {
  text-align: center;
}

#features .features-sections {
  padding: 0 60px;
}

#features .features-sections > * {
  margin-bottom: 10px;
}

#features img {
  width: 40px;
}

#features span a {
  color: #026cff;
}

/* sezione service */

#service {
  background-color: #0040bd;
  color: white;
}

#service .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#service h2 {
  text-align: center;
  color: white;
}

#service .service-row {
  border-bottom: 1px solid white;
  padding: 0 20px;
}

#service .test-speed {
  text-align: right;
}

#service .test-speed span a {
  color: #00c9d0;
}

#service .service-column {
  padding: 0 20px;
}

/* Media query */

/* vesione smartphone */
@media all and (max-width:768px) {

  .padding-page {
    padding: 0 3%;
  }

  /* header */

  header #header-lg {
    display: none;
  }

  header #header-sm {
    display: block;
  }

  #jumbo-left h1 {
    font-size: 35px;
  }

  #jumbo #jumbo-left {
    margin-bottom: 30px;
  }

  /* main */

  #deploy .deploy-sections {
    height: 200px;
  }
}

/* vesione tablet */
@media all and (min-width:769px) and (max-width:1199px) {

  .padding-page {
    padding: 0 5%;
  }

  header #header-lg {
    display: none;
  }

  header #header-sm {
    display: block;
  }

  #jumbo-left h1 {
    font-size: 30px;
  }

  /* main */

  #deploy .deploy-sections {
    height: 200px;
    padding: 0 20px;
  }

  #deploy ul {
    padding-left: 30px;
  }

}

/* vesione desktop */
@media all and (min-width:1200px) {

  .padding-page {
    padding: 0 10%;
  }

  header #header-sm {
    display: none;
  }

  header #header-lg {
    display: block;
  }

  #jumbo-left h1 {
    font-size: 25px;
  }

  /* main */

  #deploy .deploy-sections {
    height: 200px;
    padding: 0 20px;
  }

  #deploy ul {
    padding-left: 30px;
  }

}
